.App {
  text-align: center;  
}

.car {
  background-color: #ffffff;
  border: 0.5px solid rgb(157, 156, 156);
  padding: 5px 10px;
  margin: 2px auto;
  width: 40%;
  border-radius: 10px;
}

.model{
  margin-left: 20px;
}
.show{
  margin-left: 40px;
}